body{
    background-color: rgb(135, 197, 116);
}

ul {
    list-style-type: none;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

ul * {
    box-sizing: border-box;
}

.box_content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #1c3d22;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

.box_content > p:first-of-type {
    margin-top: 0;
}

.box_content > p:last-of-type {
    margin-bottom: 0;
}
    
img {
    /* max-width: 50%;
    float: left; */

    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}
    
h3 {
    line-height: 0;
    color: rgb(85, 211, 102);
}

p{
    color: rgb(175, 175, 175);
}

